body {
    background-color:indianred;
    margin: 0 auto;
}

form {
    text-align: center;
    font-family: "Raleway", sans-serif;
    padding-bottom:100px;
}

textarea {
    margin-left:10px;
}

#title {
    text-align: center;
    font-family: "Raleway", sans-serif;
    color:white;
    padding-top:15px;
}

#submit {
    margin-bottom:10px;
}

.newList{
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin: 0 auto;
}

